body{
     background-color: rgb(255,140,0);
     font-family: 'fangzheng';
}

.button{
          background-color: royalblue;
          text-decoration: none;
          padding: 30px 465px 30px;
          font-size: 15px;
          color: white;
}
a:hover{
       background-color: blue;
       transition: 0.8s;
}
a:active{
        color: royalblue;
        transition: 0.0.5s;
        }
.box_color_back{
           background-color: royalblue;
           text-align: center;
           color: blue;
}

@font-face{
     font-family: 'fangzheng';
     src: url('px.TTF');
}