*{
  margin: 10;
  padding: 10;
}

body {
    font-size: 15pt;
    background-color: green;
}

.button {
  background-color: palegreen;
          text-decoration: none;
          padding: 30px 30px 30px;
          font-size: 15px;
          color: green;
          text-align: center;
          
}

a:hover{
       background-color: green;
       color: whitesmoke;
       transition: 0.8s;
}
a:active{
        color: wheat;
        transition: 0.0.5s;
        }
        
.text {
  background-color: palegreen;
          text-decoration: none;
          padding: 30px 50px 30px;
          font-size: 15px;
          color: green;
          text-align: center;
}

.button {
  display: flex;
  border: none;
  border-radius: 10px;
}