body{
     background-color: rgb(255,140,0)
     font-family: 'fangzheng';
}



.box_color{
           background-color: royalblue;
           color: blue;
}


a{
 background-color: rgb(255,180,0);
 color: white;
 padding: 0px 10px 10px;
}
a:hover{
       background-color: royalblue;
       transition: 0.8s;
}
a:active{
        color: royalblue;
        transition: 0.0.5s;

}
.b{
  text-align: center;
}

.underline{
         text-decoration: none;
}

@font-face{
     font-family: 'fangzheng';
     src: url('px.TTF');
}